@use "../../variables.scss" as *;
.contact-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .header {
        position: static;
        margin: 0px;
        width: 50%;
        transform: none;
        font-size: 24px;
    }

    .content {
        padding: 32px 48px 16px;
        background-color: $primary-color;
        position: relative;
        width: 50%;
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .contact-item {
            margin-bottom: 12px;
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: center;
            span {
                @include text-with-no-upper-space(20px);
                display: inline-block;
                user-select: text;

                &::-moz-selection {
                    /* Code for Firefox */
                    color: $primary-color;
                    background: black;
                }

                &::selection {
                    color: $primary-color;
                    background: black;
                }
            }

            svg {
                width: 20px;
            }
        }
        .message {
            font-family: $basic-font;
            font-weight: 600;
            margin-bottom: 32px;
            text-align: justify;
        }
    }

    .action-button {
        width: 50%;
        display: flex;
        height: 50px;

        .button-type-hover {
            // background-color: pink;
        }
        span {
            display: inline-block;
            @include text-with-no-upper-space(24px);
        }
    }
}
