@use "../../variables.scss" as *;

.mobile .contact-page {
    .content,
    .header,
    .action-button {
        width: 100%;
    }
    .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.contact-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .header {
        position: static;
        margin: 0px;
        width: 50%;
        transform: none;
        font-size: $font-size-2;
    }

    .content {
        padding: 32px 48px 16px;
        background-color: $primary-color;
        position: relative;
        width: 50%;
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: $font-size-0;
        .contact-item {
            margin-bottom: 12px;
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: center;
            span {
                @include text-with-no-upper-space($font-size-1);
                display: inline-block;
                user-select: text;

                &::-moz-selection {
                    /* Code for Firefox */
                    color: $primary-color;
                    background: black;
                }

                &::selection {
                    color: $primary-color;
                    background: black;
                }
            }

            svg {
                width: 20px;
            }
        }
        .message {
            font-family: $basic-font;
            font-weight: 600;
            margin-bottom: 32px;
            text-align: justify;
        }
    }

    .action-button {
        width: 50%;
        display: flex;
        height: 50px;

        span {
            display: inline-block;
            @include text-with-no-upper-space($font-size-2);
        }
    }
}

.mobile .contact-form {
    width: 100%;
    input,
    textarea {
        width: 100%;
    }
}
.contact-form {
    @include cell;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    background: black;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 6;
    padding: 40px 24px;
    .address {
        color: $primary-color;
    }
    input,
    textarea {
        background: rgba($color: white, $alpha: 0.07);
        @include cell;
        color: white;
        padding: 8px;
        outline: none;
        font-size: $font-size-0;
        width: 30vw;
        &::placeholder {
            columns: white;
        }
    }
    textarea {
        height: 200px;
        resize: none;
        @include scroller;
    }

    input:invalid:not(.unchanged),
    textarea:invalid:not(.unchanged) {
        border-color: red;
        + .input-warn {
            display: block;
        }
    }
    .input-warn {
        margin: -12px 0 0;
        font-size: 14px;
        color: rgba($color: red, $alpha: 0.8);
        display: none;
    }

    .close-btn {
        background: none;
        border: none;

        color: $primary-color;
        text-transform: lowercase;
        position: absolute;
        right: -2px;
        top: -3px;
        span {
            @include text-with-no-upper-space(24px);
        }
    }

    input:invalid ~ button[type="submit"],
    textarea:invalid ~ button[type="submit"] {
        display: none;
    }
}

.loading-screen-2 {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 9999999;
    span {
        color: $primary-color;
        font-family: $pixel-font;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.fade {
        animation: fade 0.5s linear forwards;
    }
}

@keyframes fade {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}
