@use "../../variables.scss" as *;
.contact-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .header {
        position: static;
        margin: 0px;
        width: 50%;
        transform: none;
        font-size: 24px;
    }

    .content {
        padding: 32px 48px 16px;
        background-color: $primary-color;
        position: relative;
        width: 50%;
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .contact-item {
            margin-bottom: 12px;
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: center;
            span {
                @include text-with-no-upper-space(20px);
                display: inline-block;
                user-select: text;

                &::-moz-selection {
                    /* Code for Firefox */
                    color: $primary-color;
                    background: black;
                }

                &::selection {
                    color: $primary-color;
                    background: black;
                }
            }

            svg {
                width: 20px;
            }
        }
        .message {
            font-family: $basic-font;
            font-weight: 600;
            margin-bottom: 32px;
            text-align: justify;
        }
    }

    .action-button {
        width: 50%;
        display: flex;
        height: 50px;

        .button-type-hover {
            // background-color: pink;
        }
        span {
            display: inline-block;
            @include text-with-no-upper-space(24px);
        }
    }
}

.blur-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: 6;
}
.contact-form {
    @include cell;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    background: black;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 6;
    padding: 40px 24px;
    .adress {
        color: $primary-color;
    }
    input,
    textarea {
        background: rgba($color: white, $alpha: 0.07);
        @include cell;
        color: white;
        padding: 8px;
        outline: none;
        font-size: 1rem;
        width: 30vw;
        &::placeholder {
            columns: white;
        }
    }

    textarea {
        height: 200px;
        resize: none;
        @include scroller;
    }

    .close-btn {
        background: none;
        border: none;

        color: $primary-color;
        text-transform: lowercase;
        position: absolute;
        right: -2px;
        top: -3px;
        span {
            @include text-with-no-upper-space(24px);
        }
    }
}
