@use "../../variables.scss" as *;

.page {
    width: 1200px;
    height: 880px;
    // background: black;
    color: white;
    padding: 60px;
    position: relative;
    font-family: $pixel-font;
    background-image: radial-gradient(ellipse, rgba($color: $primary-color, $alpha: 0.3) 0%, black 90%);

    .outer-border {
        height: 100%;
        width: 100%;
        position: relative;
        padding: 40px;
        .top-border,
        .right-border,
        .bottom-border,
        .left-border {
            margin: 0;
            position: absolute;
            border: $default-border;
        }
        .top-border,
        .bottom-border {
            width: 50%;
            border-top: none;
            animation: horizontal-borders 30s infinite steps(60) alternate;
        }

        .left-border,
        .right-border {
            height: 50%;
            border-right: none;
            animation: vertical-borders 30s infinite steps(60) alternate-reverse;
        }
        .top-border,
        .left-border {
            top: 0;
            left: 0;
        }

        .right-border,
        .bottom-border {
            right: 0;
            bottom: 0;
        }
    }

    .header {
        width: 300px;
        padding: 12px 80px;
        background: black;
        position: absolute;
        top: 5%;
        margin-left: 40px;
        transform: translateY(-25%);
        border: $default-border;
        text-transform: uppercase;
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        color: $primary-color;
        span {
            height: 32px;
            line-height: 24px;
            text-wrap: nowrap;
        }
    }
}

/* REGULAR SCANLINES SETTINGS */

// width of 1 scanline (min.: 1px)
$scan-width: 2px;
// emulates a damage-your-eyes bad pre-2000 CRT screen ♥ (true, false)
$scan-crt: true;
// frames-per-second (should be > 1), only applies if $scan-crt: true;
$scan-fps: 60;
// scanline-color (rgba)
$scan-color: rgba(#000, 0.1);
// set z-index on 2147483648 or more to enable scanlines on Chrome fullscreen (doesn't work in Firefox or IE);
$scan-z-index: 2147483648;

/* MOVING SCANLINE SETTINGS */
// moving scanline (true, false)
$scan-moving-line: true;
// opacity of the moving scanline
$scan-opacity: 0.7;

/* MIXINS */
@mixin scan-crt($scan-crt) {
    @if $scan-crt == true {
        animation: scanlines 10s steps($scan-fps) infinite;
    } @else {
        animation: none;
    }
}

@mixin scan-moving($scan-moving-line) {
    @if $scan-moving-line == true {
        animation: scanline 1s linear infinite;
    } @else {
        animation: none;
    }
}

/* CSS .scanlines CLASS */
.crt {
    position: relative;
    overflow: hidden; // only to animate the unique scanline

    &:before,
    &:after {
        display: block;
        pointer-events: none;
        content: "";
        position: absolute;
    }

    // unique scanline travelling on the screen
    &:before {
        // position: absolute;
        // bottom: 100%;
        width: 100%;
        height: $scan-width * 1;
        z-index: $scan-z-index + 1;
        background: $scan-color;
        opacity: $scan-opacity;
        // animation: scanline 6s linear infinite;
        @include scan-moving($scan-moving-line);
    }

    // the scanlines
    &:after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $scan-z-index;
        background: linear-gradient(to bottom, transparent 50%, $scan-color 50%);
        background-size: 100% $scan-width * 2;
        @include scan-crt($scan-crt);
    }
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
    0% {
        transform: translate3d(0, 200000%, 0);
        // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
    }
}

@keyframes scanlines {
    0% {
        background-position: 0 50%;
        // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; }
    }
}

@keyframes vertical-borders {
    0% {
        height: 50%;
    }

    100% {
        height: 0%;
    }
}

@keyframes horizontal-borders {
    0% {
        width: 50%;
    }

    100% {
        width: 0%;
    }
}
