@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#canvas-container {
    width: 100vw;
    height: 100vh;
    background: black;
    * {
        // -ms-overflow-style: none; /* Internet Explorer 10+ */
        // scrollbar-width: none; /* Firefox */
        // pointer-events: none;
    }
}

.controller {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding: 20px;
    background: black;
    outline: 1px solid white;
    color: white;
    border-radius: 12px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99999999;
}

.controller .section {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-bottom: 8px;
}
.controller button {
    height: 32px;
    min-width: 32px;
}

.value {
    display: flex;
    gap: 8px;
    align-items: center;
}

.value > span {
    width: 40px;
    height: 32px;
    outline: 1px solid grey;
    background: black;
    color: white;
    border: none;
    text-align: center;
}
.controller + .controller {
    right: 0;
}

@font-face {
    font-family: "pixelFont";
    font-style: normal;
    font-weight: 400;
    src: url("../src//assets/fonts/SVN-Determination\ Sans.otf") format("woff");
}

.bottom-nav {
    position: absolute;
    bottom: 8px;
    z-index: 99999999;
    transform: translateX(-50%);
    left: 50%;
    width: 50%;
    @include cell;
    background-color: black;
    color: $primary-color;
    padding: $cell-gap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $pixel-font;
    padding: 24px;
    .nav-btn {
        background-color: transparent;
        color: $primary-color;
        border: none;
        flex-grow: 1;
        &:hover {
            scale: 1.5;
        }
    }
}

.screen-title span {
    color: white;
}
