@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#canvas-container {
    width: 100vw;
    height: 100vh;
    background: black;
}

@font-face {
    font-family: "pixelFont";
    font-style: normal;
    font-weight: 400;
    src: url("../src//assets/fonts/SVN-Determination\ Sans.otf") format("woff");
}

.nav-bar {
    position: absolute;
    bottom: 0px;
    z-index: 99999999;
    transform: translate(-50%, 0);
    left: 50%;
    @include cell;
    background-color: black;
    border-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    animation: flyUp 0.3s ease-out forwards;
    max-width: 1000px;

    width: 100%;

    .nav-btn {
        font-family: $pixel-font;
        background-color: transparent;
        color: $primary-color;
        border: none;
        flex-grow: 1;
        padding: 24px 0;
        max-width: calc(100% / 8);
        overflow: hidden;
        text-wrap: nowrap;
        font-size: $font-size-0;
        text-transform: capitalize;
        &:hover {
            color: white;
        }
        &.active {
            background-color: $primary-color;
            color: black;
        }
    }
    .lang-btn {
        fill: $primary-color;
        font-family: $pixel-font;
        background-color: transparent;
        color: $primary-color;
        border: none;
        flex-grow: 0.3;
        display: flex;
        gap: 8px;
        font-size: 16px;
        padding: 0;

        svg {
            width: 20px;
        }
        &:hover {
            fill: white;
            color: white;
        }
    }
}

@keyframes flyUp {
    0% {
        transform: translate(-50%, 80px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
