@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#canvas-container {
    width: 100vw;
    height: 100vh;
    background: black;
}

.controller {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding: 20px;
    background: black;
    outline: 1px solid white;
    color: white;
    border-radius: 12px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99999999;
}

.controller .section {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-bottom: 8px;
}
.controller button {
    height: 32px;
    min-width: 32px;
}

.value {
    display: flex;
    gap: 8px;
    align-items: center;
}

.value > span {
    width: 40px;
    height: 32px;
    outline: 1px solid grey;
    background: black;
    color: white;
    border: none;
    text-align: center;
}
.controller + .controller {
    right: 0;
}

@font-face {
    font-family: "pixelFont";
    font-style: normal;
    font-weight: 400;
    src: url("../src//assets/fonts/SVN-Determination\ Sans.otf") format("woff");
}

.bottom-nav {
    position: absolute;
    bottom: 0px;
    z-index: 99999999;
    transform: translate(-50%, 0);
    left: 50%;
    @include cell;
    background-color: black;
    border-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: $cell-gap;
    padding: 0 24px;
    animation: flyUp 0.3s ease-out forwards;
    .nav-btn {
        font-family: $pixel-font;
        background-color: transparent;
        color: $primary-color;
        border: none;
        flex-grow: 1;
        padding: 24px;
        text-wrap: nowrap;
        font-size: 16px;
        &:hover {
            color: white;
        }
        &.active {
            background-color: $primary-color;
            color: black;
        }
    }
    .lang-btn {
        fill: $primary-color;
        font-family: $pixel-font;
        background-color: transparent;
        color: $primary-color;
        border: none;
        flex-grow: 1;
        display: flex;
        gap: 8px;
        font-size: 16px;

        // border-left: 1px solid $primary-color;
        padding: 0px 24px;

        svg {
            width: 20px;
        }
        &:hover {
            fill: white;
            color: white;
        }
    }
}

@keyframes flyUp {
    0% {
        transform: translate(-50%, 80px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
