@use "../../variables.scss" as *;

.mobile .about-page {
    overflow: auto;
    height: fit-content;
    padding-bottom: $box-padding;
    color: white;

    .row:first-child {
        gap: 0px;
        .current-status {
            text-wrap: nowrap;
        }
    }

    .bottom-content,
    .top-content {
        flex-direction: column;
    }

    .pfp {
        margin-top: $cell-gap;
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;

        img {
            bottom: auto;
            top: 0;
        }
    }

    .desc {
        .row + .row {
            flex-wrap: wrap;
        }
        .my-name {
            @include text-with-no-upper-space($font-size-4);
        }
        .job-title span {
            @include text-with-no-upper-space($font-size-3);
        }
        .details {
            text-align: left;
        }
    }

    .tech {
        .tech-item {
            max-width: calc(100% / 2);
        }
    }
    @media (max-width: 480px) {
        .related-tech {
            .content-container {
                flex-direction: column;
                gap: 0px;
                height: fit-content;
                .toggle-btns {
                    flex-direction: row;
                    gap: 0;
                    label {
                        flex-grow: 1;
                    }
                    .button-content {
                        padding-left: 0px;
                        padding-right: 0px;
                        text-align: center;
                    }
                }

                .display-content {
                    height: auto;
                    overflow: visible;
                    border-top: none;
                }
            }
        }
    }
}

.about-page {
    display: flex;
    flex-direction: column;
    gap: $cell-gap;
    height: 100%;
    .top-content {
        display: flex;
        width: 100%;
        gap: $cell-gap;
        height: max-content;
        flex-grow: 1;
    }

    .pfp {
        @include cell;
        width: 300px;
        flex-shrink: 0;
        position: relative;
        background: rgba($color: #000000, $alpha: 0.7);
        .filter {
            position: absolute;
            width: 100%;
            height: 100%;
            background: $primary-color;
            mix-blend-mode: multiply;
            opacity: 0.9;
        }

        img {
            position: absolute;
            width: 100%;
            object-fit: contain;
            bottom: 0;
            filter: grayscale(100%);
        }
    }

    .side-content {
        display: flex;
        flex-direction: column;
        gap: $cell-gap;
        flex-grow: 1;
    }

    .desc {
        @include cell;
        flex-grow: 1;
        padding: $box-padding;
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            gap: $font-size--2;
            align-items: flex-end;
        }
        .row + .row {
            margin-top: 24px;
        }

        .box {
            margin-top: 16px;
            background: $primary-color;
            padding: $box-padding;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        .title {
            @include text-box;
            @include text-with-no-upper-space($font-size-1);
            color: black;
            background: $primary-color;
        }
        .current-status {
            @include text-box;
            @include text-with-no-upper-space($font-size-1);
            background: black;
            display: flex;
            gap: 8px;
            svg {
                fill: $primary-color;
                width: 8px;
            }
        }

        .introduction {
            @include text-with-no-upper-space($font-size-2);
            text-transform: uppercase;
        }
        .my-name {
            @include text-with-no-upper-space($font-size-5);
            color: $primary-color;
            text-transform: uppercase;
            text-wrap: nowrap;
        }

        .job-title {
            color: black;
            text-transform: uppercase;
            flex-wrap: wrap;
            display: flex;
            row-gap: 0.5rem;
            column-gap: 0.5rem;
            margin-bottom: 1rem;
            span {
                @include text-with-no-upper-space($font-size-4);
            }
        }
        .details {
            font-size: $font-size-0;
            font-family: $basic-font;
            font-weight: 400;
            text-align: justify;
            color: black;
            width: 100%;
        }
    }

    .download-cv {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        gap: 8px;
        svg {
            fill: $primary-color;
        }
        span {
            @include text-with-no-upper-space($font-size-2);
        }
    }

    .bottom-content {
        display: flex;
        width: 100%;
        height: max-content;
        gap: $cell-gap;

        .tech,
        .related-tech {
            width: 100%;
            @include cell;
            padding: $box-padding;
            display: flex;
            gap: 12px;
            flex-direction: column;
        }
        .title {
            @include text-box;
            @include text-with-no-upper-space($font-size-2);
            background: $primary-color;
            color: black;
            text-align: center;
            padding: 8px 0;
        }
    }

    .tech {
        .tech-list {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
        }

        .tech-item {
            background: black;
            border: $default-border;
            flex-grow: 1;
            padding: 4px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            max-width: calc(100% / 3);
            span {
                @include text-with-no-upper-space($font-size-0);
            }
            img {
                height: 20px;
            }
        }
    }

    .related-tech {
        .content-container {
            display: flex;
            gap: 8px;
            height: 140px;
        }
        .toggle-btns {
            display: flex;
            flex-direction: column;
            gap: 4px;
            text-transform: capitalize;

            label {
                height: 100%;
            }
            .button-content {
                text-align: left;
                span {
                    text-wrap: nowrap;
                    font-size: $font-size-0;
                }
            }
        }
        .display-content {
            border: $default-border;
            flex-grow: 1;
            padding: 12px 24px;
            margin: 0;
            font-family: $basic-font;
            font-weight: 600;
            font-size: $font-size-0;
            height: 100%;
            background-color: black;
            @include scroller;
        }
    }
}
